<section
class="signup-form"
fxLayout="column"
fxLayoutAlign="space-around center"
>
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="Correo"
          formControlName="email">
        <mat-hint>Por favor ingrese un correo válido.</mat-hint>
        <mat-error>Correo inválido.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Contraseña"
          formControlName="password">
        <mat-hint>Por favor ingrese su contraseña.</mat-hint>
        <mat-error>Ingrese contraseña.</mat-error>
      </mat-form-field>
      <button *ngIf="!(isLoading$ | async)"  type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Ingresar</button>
      <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    </form>
  </section>