<br>
<br>
<br>
<div class="row">
  <div class="column">
  <div *ngIf="cargo == 1">
    <app-contable></app-contable>
    <app-datos-contable></app-datos-contable>
  </div>
  <div *ngIf="cargo == 2">
    <app-empresario></app-empresario>
    <!--<app-datos-empresario></app-datos-empresario>-->
  </div>
  </div>

</div>
<!--<div *ngIf="products" fxFlex = "row">
  <div class="perfil" *ngFor="let item of products" fxFlex = "column" >
    <img src="../../../../assets/mdi_user-circle.png" width="20%">
    <div fxFlexAlign="center center">
      <h2 fxFlexAlign="center center">{{ item.nombre }} {{item.apellido}}</h2>
    </div>
    <div>
      <h4>{{ item.cargo }}</h4>
    </div>
    <div>
      <p>{{ item.email }}</p>
    </div>
    <div>
      <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="submit()"
    >
      Editar Perfil
    </button>
    </div>
  </div>
  <div class="perfil" *ngFor="let item of products" fxFlex = "column"  >
    <p>Nombre de Empresa</p>
    <h3>{{ item.nombreEmpresa }}</h3>
    <p>Nit de Empresa</p>
    <h3>{{ item.nitEmpresa }}</h3>
    <p>Ciudad</p>
    <h3>{{ item.ciudad }}</h3>
    <p>País</p>
    <h3>{{ item.pais }}</h3>
  </div>
</div>-->

