<div fxLayout="column" fxLayoutAlign="center center" class="encabezado">
  <h1>
    Seleccione dos reportes de periodos correspondientes para comparar
  </h1>
</div>

<div class="pasoapaso">
  <mat-stepper [linear]="true" #stepper color="success">
    <mat-step
      [stepControl]="firstFormGroup"
      completed="{{ completo1 }}"
      label="Cargar archivo más reciente"
    >
      <form
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)"
      >
        <label for="input-file-id" class="md-button md-raised md-primary"
          >Seleccione el archivo del periodo más reciente</label
        >
        <input
          type="file"
          appReadexcel
          #readexcel="readexcel"
          (eventEmitter)="DataFromEventEmitter($event)"
          (change)="fileUploaded(true, false)"
          required
        />
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          (click)="onSubmit(f)"
          [disabled]="!fileIsUploaded1"
        >
          Siguiente
        </button>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </form>
    </mat-step>
    <mat-step
      [stepControl]="secondFormGroup"
      completed="{{ completo2 }}"
      label="Cargar archivo más antiguo"
    >
      <form
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        #form2="ngForm"
        (ngSubmit)="onSubmitComparacion(form2)"
        (change)="fileUploaded(true, true)"
          required
      >
        <label for="input-file-id" class="md-button md-raised md-primary"
          >Seleccione el archivo del periodo más antiguo</label
        >
        <input
          id="excel-1"
          type="file"
          appComparativeexcel
          #comparativeexcel="comparativeexcel"
          (eventEmitter)="DataFromEventEmitter($event)"
        />
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          (click)="onSubmitComparacion(form2)"
          [disabled]="!fileIsUploaded2"
        >
          Siguiente
        </button>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </form>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Analizar archivos</ng-template>
      <div>
        <button
        *ngIf="!(isLoading$ | async)"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid"
        (click)="submit()"
      >
        Analizar
      </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

