<mat-nav-list>
    <a *ngIf="!(isAuth$ | async)" mat-list-item routerLink="/auth/signup" (click)="onClose()">
      <mat-icon>face</mat-icon>
      <span class="nav-caption">SignUp</span>
    </a>
    <a *ngIf="!(isAuth$ | async)" mat-list-item routerLink="/auth/login" (click)="onClose()">
      <mat-icon>input</mat-icon>
      <span class="nav-caption">LogIn</span>
    </a>
    <a *ngIf="isAuth$ | async" mat-list-item routerLink="/auth/training" (click)="onClose()">
      <mat-icon>fitness_center</mat-icon>
      <span class="nav-caption">Training</span>
    </a>
    <mat-list-item *ngIf="isAuth$ | async">
      <button mat-icon-button (click)="onLogout()">
        <mat-icon>eject</mat-icon>
        <span class="nav-caption">Logout</span>
      </button>
    </mat-list-item>
</mat-nav-list>