<br>
<br>
<section
  class="signup-form"
  fxLayout="column"
  fxLayoutAlign="space-around center"
>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Nombre"
        ngModel
        name="nombre"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Apellido"
        ngModel
        name="apellido"
        required
      />
    </mat-form-field>
    <mat-form-field >
      <input
        type="email"
        matInput
        placeholder="Ingrese su email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >Email no es válido</mat-error
      >
      <mat-error *ngIf="!emailInput.hasError('required')"
        >El campo no debe estar vacio</mat-error
      >
    </mat-form-field>
    <mat-form-field hintLabel="Tiene que tener al menos 6 carácteres">
      <input
        type="password"
        matInput
        placeholder="Ingrese una contraseña"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel"
      />
      <mat-hint align="end"> {{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Tiene que tener al menos 6 carácteres</mat-error>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Software</mat-label>
      <input
        type="text"
        matInput
        placeholder="Software"
        ngModel
        name="software"
        required
      />
    </mat-form-field>
      <!--<mat-select placeholder="Software" ngModel name="software" required>
        <mat-option *ngFor="let soft of softwares" [value]="soft">
          {{ soft.nombre }}
        </mat-option>
      </mat-select>-->

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Nombre de la Empresa"
        ngModel
        name="nombreEmpresa"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="NIT de la Empresa"
        ngModel
        name="nitEmpresa"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="País de la Empresa"
        ngModel
        name="pais"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Teléfono"
        ngModel
        name="telefono"
        required
      />
    </mat-form-field>
    <mat-form-field >
      <input
        type="text"
        matInput
        placeholder="Ciudad de la Empresa"
        ngModel
        name="ciudad"
        required
      />
    </mat-form-field>

    <mat-checkbox
      ngModel
      name="agree"
      labelPosition="before"
      color="primary"
      required
      >De acuerdo con términos y condiciones</mat-checkbox
    >
    <button
      *ngIf="!(isLoading$ | async)"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      Registrarse
    </button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
