<br>
<br>
<br>
<div *ngFor="let item of empres">
  <section
    class="signup-form"
    fxLayout="column"
    fxLayoutAlign="space-around center"
  >
   <h4><mat-label> Empresa: " {{ item.nombreEmpresa }} " </mat-label></h4>
  
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
    >
      <mat-form-field >
        <input
          [(ngModel)]="item.nombreEmpresa"
          #nombreEmpresa="ngModel"
          type="text"
          matInput
          placeholder="Nombre de empresa"
          ngModel
          name="nombreEmpresa"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [(ngModel)]="item.ciudad"
          #ciudad="ngModel"
          type="text"
          matInput
          placeholder="Ciudad de la Empresa"
          ngModel
          name="ciudad"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [(ngModel)]="item.pais"
          #pais="ngModel"
          type="text"
          matInput
          placeholder="País de la Empresa"
          ngModel
          name="pais"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [(ngModel)]="item.nit"
          #nit="ngModel"
          type="text"
          matInput
          placeholder="Nit de la Empresa"
          ngModel
          name="nit"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [(ngModel)]="item.software"
          #software="ngModel"
          type="text"
          matInput
          placeholder="Software de la Empresa"
          ngModel
          name="software"
          required
        />
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
      >
        Actualizar
      </button>
      
    </form>
  </section>
</div>
