/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, button {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    height: 100%;
}

body { 
    margin: 0; 
}

/* Necesario para poder usar slidesPerView: auto en swiper.js */
.swiper-slide { width: auto; }
