/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, button {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    height: 100%;
}

body { 
    margin: 0; 
}

/* Necesario para poder usar slidesPerView: auto en swiper.js */
.swiper-slide { width: auto; }

.cdk-overlay-pane.mat-tooltip-panel .mat-tooltip {
    font-size: 16px;
    line-height: 1em;
}
.mat-button.mat-primary,
.mat-stroked-button.mat-primary {
    color: #57D7C9;
}
.mat-button.mat-primary:hover,
.mat-stroked-button.mat-primary:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-primary,
.mat-flat-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  color: #f0fff3;
  background-color: #57D7C9;
}

.mat-icon-button.mat-primary {
  color:#57D7C9;
}
