form {
    width: 100%;

}

mat-form-field {
    width: 80%;
    border-style: hidden;
    border-radius: 2%;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;
}

.signup-form {
    box-shadow: 2px 2px 8px 1px #aaa;
    background: rgb(227 227 227);
    border-radius: 2%;
    width: 40%;
    margin: 2% auto;
    padding: 2% 0;
}