<br>
<br>
<br>
<section>
  <h1 class="text-center font-medium text-4xl m-0 p-0">{{titulos?.titulo}}</h1>
  <h2 *ngIf="(dataClaseActual$ | async) as claseActual" class="text-center font-light text-2xl m-0 p-0">({{claseActual?.codigoPuc?.Nombre}})</h2>
  <h2 *ngIf="anioNuevo" class="text-center font-light text-4xl m-0 p-0">{{titulos?.subtitulo}}</h2>
  <app-tabla-balance
    [dataYears]="dataYears1"
    [dataActivos]="dataActivos$ | async"
  ></app-tabla-balance>
  <app-botones-navegacion
    [routerLinkAtras]="linkBotonAtras"
    [mostrarBotonIndicadores]="true"
  ></app-botones-navegacion>
  <div class="cards-balance">
  </div>
  <!-- <div class="cards-balance">
    <app-card-balance titulo="Ingresos" subtitulo="Sus ingresos fueron de $12’900,888"
      cuerpo="Su desempeño frente al periodo anterior mejoró en un 3%"
      [tarjetas]="['Operación Normal','No Operacionales','Devoluciones, rebajas y descuentos','Ajustes por inflación',]"
      imagen="assets/svg/coin.svg" color="blue"></app-card-balance>
    <app-card-balance titulo="Ingresos" subtitulo="Sus gastos y costos fueron de $12’900,888"
      cuerpo="Su desempeño frente al periodo anterior empeoró en un 3%"
      [tarjetas]="['Operacionales de Administración','Operacionales de Ventas','Costos de Ventas','No Operacionales','Impuestos de renta y complementarios']"
      imagen="assets/svg/coin.svg" color="red"></app-card-balance>
    <app-tablero>
      Así va el desempeño de su empresa<br>(Ingresos - Egresos):<br><b>$6.499.527</b><br>
      Año 2022
    </app-tablero>
  </div>
  <div class="cards-balance">
    <app-card-balance titulo="Activos" subtitulo="Sus empresa tiene $12’900,888"
      cuerpo="Su desempeño frente al periodo anterior mejoró en un 3%"
      [tarjetas]="['Disponible a Corto Plazo','Disponible a Mediano Plazo','Disponible a Largo Plazo',]"
      imagen="assets/svg/coin.svg" color="green"></app-card-balance>
    <app-card-balance titulo="Pasivos" subtitulo="Sus empresa debe $12’900,888"
      cuerpo="Su desempeño frente al periodo anterior empeoró en un 3%"
      [tarjetas]="['Debe a Entidades Financieras','Debe a Proveedores','Cuentas por Pagar','Impuestos, Gavamenes y Tasas','Otras Deudas']"
      imagen="assets/svg/coin.svg" color="purple"></app-card-balance>
  </div> -->
    <!-- <table>
      <tbody>
        <tr>
          <td class="tg-0lax">Su empresa tiene: $ {{analisis.activos | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Disponible a Corto Plazo: $ {{analisis.dispCorto | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Diponible (Caja y Bancos): $ {{analisis.dispCajas | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Otros (Remesas, cuentas de ahorros y Fondos): $ {{analisis.dispOtros | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Disponible a Mediano Plazo: $ {{analisis.dispMed | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Sus clientes le deben: $ {{analisis.clientesDeben | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">En inventario tiene: $ {{analisis.inventario | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Disponible a Largo Plazo: $ {{analisis.dispLargo | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">En propiedades de planta y equipo tiene: $ {{analisis.propiedades | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">En otros activos tiene: $ {{analisis.otrosActivos | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a Entidades Financieras: $ {{analisis.debeEntFin | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Mayor deuda a Entidad Financiera: $ {{analisis.debeEntFin1 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreEntFin1}}</td>
        </tr>
        <tr>
          <td class="tg-0lax">Su empresa debe: $ {{analisis.pasivos | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Segunda mayor deuda a Entidad Financiera: $ {{analisis.debeEntFin2 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreEntFin2}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Total otras deudas a Entidad Financiera: $ {{analisis.debeEntFin3 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a Proveedores: $ {{analisis.debeProveedores | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Mayor deuda a Proveedores: $ {{analisis.dProveedores1 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreDProveedores1}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Segunda mayor deuda a Proveedores: $ {{analisis.dProveedores2 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreDProveedores2}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Total otras deudas a Proveedores: $ {{analisis.dProveedores3 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Cuentas por Pagar: $ {{analisis.cuentas | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Mayor deuda de Cuentas por Pagar: $ {{analisis.cuentas1 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreCuentas1}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Segunda mayor deudade Cuentas por Pagar: $ {{analisis.cuentas2 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreCuentas2}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Total otras deudas de Cuentas por Pagar: $ {{analisis.cuentas3 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Impuestos, Gravamenes y Tasas: $ {{analisis.impuestos | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Mayor deuda de Impuestos, Gravamenes y Tasas: $ {{analisis.impuestos1 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreImpuestos1}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Segunda mayor deuda de Impuestos, Gravamenes y Tasas: $ {{analisis.impuestos2 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreImpuestos2}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Total otras deudas  de Impuestos, Gravamenes y Tasas: $ {{analisis.impuestos3 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Otras deudas: $ {{analisis.deudas | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Deudas Laborales: $ {{analisis.laborales | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Otras deudas y provisiones: $ {{analisis.otrasDeudas | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Ingresos o pagos por anticipado: $ {{analisis.pagosAnt | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Otros Pasivos: $ {{analisis.otrosPasivos | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">El patrimonio de su empresa es de: $ {{analisis.patrimonio | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">El total de ingresos de su empresa es: ${{ estadoResultado.ingresos | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Ingresos por la operación normal: ${{ estadoResultado.opNormal | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Ingresos NO operacionales: ${{ estadoResultado.noOp | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Devoluciones, rebajas y descuentos: ${{ estadoResultado.devoluciones | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Ajustes por inflación: ${{ estadoResultado.inflacion | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">El total de gastos y costos de su empresa es: ${{ estadoResultado.gastos | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Gastos Operacionales de Administración: ${{ estadoResultado.opAdministracion | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">{{ estadoResultado.nombreAdmin1 }}: ${{ estadoResultado.admin1 | number:'.0-0'}} </td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">{{ estadoResultado.nombreAdmin2 }}: ${{ estadoResultado.admin2 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Total otros Gastos Operacionales Administrativos:  ${{ estadoResultado.demasGastosA | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Depreciacióny Provisiones (NO es un egreso): ${{ estadoResultado.depreciacionA | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Gastos Operacionales de Ventas: ${{ estadoResultado.opVentas | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">{{ estadoResultado.nombreVentas1 }}: ${{ estadoResultado.ventas1 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">{{ estadoResultado.nombreVentas2 }}: ${{ estadoResultado.ventas2 | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Total otros Gastos Operacionales de Ventas: ${{ estadoResultado.demasGastosV | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Depreciación y Provisiones (NO es un egreso): ${{ estadoResultado.depreciacionV | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Costos de Ventas: ${{ estadoResultado.costosV | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Compras: ${{ estadoResultado.compras | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Costos de Ventas y Prestación de Servicios: ${{ estadoResultado.prestacion | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Gastos No Operacionales: ${{ estadoResultado.gastosNoOp | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Financieros: ${{ estadoResultado.financieros | number:'.0-0'}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Otros Gastos NO Operacionales: ${{ estadoResultado.otrosGastos | number:'.0-0'}} </td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Impuesto de renta y complementarios:  ${{ estadoResultado.impuestoRenta | number:'.0-0'}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">El resultado de la operacion (Ingresos – Gastos): ${{ estadoResultado.ingresos - estadoResultado.gastos}} </td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
      </tbody>
    </table> -->
  </section>
  