<section>
    <table>
      <tbody>
        <tr>
          <td class="tg-0lax">Su empresa tiene: $ {{analisis.activos}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Disponible a Corto Plazo: $ {{analisis.dispCorto}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Diponible (Caja y Bancos): $ {{analisis.dispCajas}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Otros (Remesas, cuentas de ahorros y Fondos): $ {{analisis.dispOtros}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Disponible a Mediano Plazo: $ {{analisis.dispMed}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Sus clientes le deben: $ {{analisis.clientesDeben}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">En inventario tiene: $ {{analisis.inventario}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Disponible a Largo Plazo: $ {{analisis.dispLargo}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">En propiedades de planta y equipo tiene: $ {{analisis.propiedades}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">En otros activos tiene: $ {{analisis.otrosActivos}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a Entidades Financieras: $ {{analisis.debeEntFin}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Mayor deuda a Entidad Financiera: $ {{analisis.debeEntFin1}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreEntFin1}}</td>
        </tr>
        <tr>
          <td class="tg-0lax">Su empresa debe: $ {{analisis.pasivos}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Segunda mayor deuda a Entidad Financiera: $ {{analisis.debeEntFin2}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreEntFin2}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Total otras deudas a Entidad Financiera: $ {{analisis.debeEntFin3}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a Proveedores: $ {{analisis.debeProveedores}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Mayor deuda a Proveedores: $ {{analisis.dProveedores1}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreDProveedores1}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Segunda mayor deuda a Proveedores: $ {{analisis.dProveedores2}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreDProveedores2}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Total otras deudas a Proveedores: $ {{analisis.dProveedores3}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Cuentas por Pagar: $ {{analisis.cuentas}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Mayor deuda de Cuentas por Pagar: $ {{analisis.cuentas1}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreCuentas1}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Segunda mayor deudade Cuentas por Pagar: $ {{analisis.cuentas2}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreCuentas2}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Total otras deudas de Cuentas por Pagar: $ {{analisis.cuentas3}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Impuestos, Gravamenes y Tasas: $ {{analisis.impuestos}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Mayor deuda de Impuestos, Gravamenes y Tasas: $ {{analisis.impuestos1}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreImpuestos1}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Segunda mayor deuda de Impuestos, Gravamenes y Tasas: $ {{analisis.impuestos2}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Debe a: {{analisis.nombreImpuestos2}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Total otras deudas  de Impuestos, Gravamenes y Tasas: $ {{analisis.impuestos3}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Otras deudas: $ {{analisis.deudas}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Deudas Laborales: $ {{analisis.laborales}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Otras deudas y provisiones: $ {{analisis.otrasDeudas}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Ingresos o pagos por anticipado: $ {{analisis.pagosAnt}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax">Otros Pasivos: $ {{analisis.otrosPasivos}}</td>
        </tr>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
        <tr>
          <td class="tg-0lax">El patrimonio de su empresa es de: $ {{analisis.patrimonio}}</td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
      </tbody>
    </table>
  </section>
  